ansicon==1.89.0
anyio==4.2.0
arrow==1.3.0
async-generator==1.10
asyncio==3.4.3
attrs==22.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
blessed==1.19.1
briefcase==0.3.16
Brotli==1.1.0
build==1.0.3
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
cookiecutter==2.5.0
deepl==1.14.0
exceptiongroup==1.1.0
free-proxy==1.1.0
gbulb==0.6.4
gitdb==4.0.11
GitPython==3.1.41
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.4
iniconfig==2.0.0
inquirer==3.1.1
Jinja2==3.1.3
jinxed==1.2.0
langdetect==1.0.9
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.4
mdurl==0.1.2
outcome==1.2.0
packaging==23.2
platformdirs==3.11.0
pluggy==1.4.0
psutil==5.9.8
pyass==0.1.4
pycairo==1.25.1
pycparser==2.21
PyDeepLX==1.0.4
Pygments==2.17.2
PyGObject==3.46.0
pyproject_hooks==1.0.0
PySocks==1.7.1
pytest==8.0.0
python-dateutil==2.8.2
python-editor==1.0.4
python-slugify==8.0.2
pyuseragents==1.0.5
PyYAML==6.0.1
readchar==4.0.3
requests==2.28.1
rich==13.7.0
safeIO==1.2
selenium==4.7.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
srt==3.5.2
srtranslator==0.3.6
text-unidecode==1.3
toga==0.4.1
toga-core==0.4.1
toga-gtk==0.4.1
togax-xml-layout-plugin==0.0.2
tomli_w==1.0.0
tqdm==4.64.1
translatepy==2.3
travertino==0.3.0
trio==0.22.0
trio-websocket==0.9.2
types-python-dateutil==2.8.19.20240106
urllib3==1.26.13
wcwidth==0.2.5
webdriverdownloader==1.1.0.3
wsproto==1.2.0
